//color
@white: #ffffff;

//mixins
.margins(@top, @left, @bottom, @right) {
  margin-top: @top;
  margin-left: @left;
  margin-bottom: @bottom;
  margin-right: @right;
}
.paddings(@top, @left, @bottom, @right) {
  padding-top: @top;
  padding-left: @left;
  padding-bottom: @bottom;
  padding-right: @right;
}

.navbar__icon {
  padding-inline: 10px;
}
.jumbotron {
  background-color: @dblue;
  .margins(55px, 0px, 0px, 0px);
  // margin-top: 55px;
}
.title {
  color: @white;
  .margins(0px, 20px, 0px, 0px);
  //   margin-left: 20px;
  .paddings(20px, 0px, 20px, 0px);
  //   padding: 20px 0px 20px 0px;
}
.section_title {
  .margins(20px, 0px, 10px, 0px);
  //  margin: 20px 0px 10px 0px;
  .paddings(10px, 0px, 10px, 10px);
  //  padding: 10px 0px 10px 10px;
  background-color: @yellow;
}
.card {
  .paddings(0px, 0px, 0px, 0px);
  //  padding: 0;
  margin-inline: 10px;
}
.container__subtitle {
  .margins(0px, 10px, 0px, 0px);
  // margin-left: 10px;
}
.section__public {
  background-color: @lblue;
  .margins(0px, 0px, 5px, 0px);
  //   margin-bottom: 5px;
  border-radius: 5px;
}
.section__banner {
  .paddings(10px, 10px, 10px, 10px);
  //   padding: 10px;
  box-sizing: content-box;
}
.img__banner {
  max-height: 70px;
  width: 100%;
}
.sectionOther__title {
  background-color: @grey;
  .margins(10px, 0px, 10px, 0px);
  //   margin: 10px 0px 10px 0px;
  padding-block: 10px;
  .paddings(10px, 10px, 10px, 10px);
  //   padding-left: 10px;
}
.sectionOther__btn {
  width: 100%;
}
.sectionOther__card {
  .paddings(5px, 10px, 5px, 10px);
  //   padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid grey;
}
.footer {
  background-color: @dblue;
  color: @white;
  .paddings(15px, 15px, 15px, 15px);
  //   padding: 15px;
  .margins(5px, 0px, 0px, 0px);
  //   margin-top: 5px;
}
.links {
  text-decoration: none;
}
.address {
  .margins(0px, 0px, 0px, 0px);
  //   margin-bottom: 0;
}
.footer__icon {
  .paddings(0px, 0px, 0px, 5px);
  //   padding-right: 5px;
}
.icon {
  .margins(0px, 0px, 0px, 5px);
  //   margin-right: 5px;
}
.tab_text {
  .margins(15px, 0px, 0px, 0px);
  //   margin-top: 15px;
}
.sectionOther__subtitle {
  cursor: pointer;
}
