/* un tanto cobrizo */
/* MIXMIN */
.navbar__icon {
  padding-inline: 10px; }

.jumbotron {
  background-color: #cfaa06;
  margin-top: 50px;
  margin-bottom: 0px; }

.title {
  color: white;
  margin-left: 20px;
  padding-top: 20px;
  padding-left: 0px;
  padding-bottom: 20px;
  padding-right: 0px;
  /* padding: 20px 0px 20px 0px; */ }

.section_title {
  margin: 20px 0px 10px 0px;
  /* padding: 10px 0px 10px 10px; */
  padding-top: 10px;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-right: 10px;
  /* background-color: rgb(241, 236, 179); */
  background-color: #33de1d; }

.card {
  padding: 0;
  margin-inline: 10px; }

.container__subtitle {
  margin-left: 10px; }

.section__public {
  background-color: #de2d1d;
  margin-bottom: 5px;
  border-radius: 5px; }

.section__banner {
  padding: 10px;
  box-sizing: content-box; }

.img__banner {
  max-height: 70px;
  width: 100%; }

.sectionOther__title {
  background-color: #33de1d;
  margin: 10px 0px 10px 0px;
  padding-block: 10px;
  padding-left: 10px; }

.sectionOther__btn {
  width: 100%; }

.sectionOther__card {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-left: 1px solid grey; }

.footer {
  background-color: #cfaa06;
  color: verde;
  padding: 15px;
  margin-top: 5px; }

.links {
  text-decoration: none; }

.address {
  margin-bottom: 0; }

.footer__icon {
  padding-right: 5px; }

.icon {
  margin-right: 5px; }

.tab_text {
  margin-top: 15px; }

.sectionOther__subtitle {
  cursor: pointer; }
