$azul : #fffa19;
$amarillo : #cfaa06; /* un tanto cobrizo */
$rojo: #de2d1d;
$verde: #33de1d;

/* MIXMIN */
@mixin margenes($top, $botton){
	margin-top:  $top;
	margin-bottom:  $botton;
} 

@mixin padding($top, $left, $bottom, $right){
  padding-top: $top;
  padding-left: $left;
  padding-bottom: $bottom;
  padding-right: $right;
} 


.navbar__icon {
  padding-inline: 10px;
}
.jumbotron {
  background-color: $amarillo;
  // margin-top: 55px;
  @include margenes(50px, 0px);
}
.title {
  color: white;
  margin-left: 20px;
  @include padding(20px, 0px, 20px, 0px);
  /* padding: 20px 0px 20px 0px; */
}
.section_title {
  margin: 20px 0px 10px 0px;
  /* padding: 10px 0px 10px 10px; */
  @include padding(10px, 0px, 10px, 10px);
  /* background-color: rgb(241, 236, 179); */
  background-color: $verde;
}
.card {
  padding: 0;
  margin-inline: 10px;
}
.container__subtitle {
  margin-left: 10px;
}
.section__public {
  background-color: $rojo;
  margin-bottom: 5px;
  border-radius: 5px;
}
.section__banner {
  padding: 10px;
  box-sizing: content-box;
}
.img__banner {
  max-height: 70px;
  width: 100%;
}
.sectionOther__title {

  background-color: $verde;
  margin: 10px 0px 10px 0px;
  padding-block: 10px;
  padding-left: 10px;
}
.sectionOther__btn {
  width: 100%;
}
.sectionOther__card {
  padding: 5px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  border-left: 1px solid grey;
}
.footer {
  background-color: $amarillo;
  color: verde;
  padding: 15px;
  margin-top: 5px;
}
.links {
  text-decoration: none;
}
.address {
  margin-bottom: 0;
}
.footer__icon {
  padding-right: 5px;
}
.icon {
  margin-right: 5px;
}
.tab_text {
  margin-top: 15px;
}
.sectionOther__subtitle {
  cursor: pointer;
}